*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
 
::selection{
color:#ffffff;
background-color:#40aa54;}

 
/*==Navigation=====================================*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}
.logo span{
    color: #40aa54;
}
.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding-inline-end: 20px;
}
.right-nav a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.right-nav .like{
    background-color: #fff0ee;
    color: #ff6c57;
}
.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}
.right-nav .like span{
    background-color: #ff6c57;
}
.right-nav .cart span{
    background-color: #4eb060;
}
.menu li a:hover,
.menu .active{
    color: #40aa54;
    transition: all ease 0.3s;
}
#user-greeting {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 500;
    color: #3b3b3b;
}
.user-dropdown {
    position: relative;
    display: inline-block;
}
.user-dropdown .fas.fa-user {
    font-size: 18px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
    right: 0;
    top: 40px;
    z-index: 1;
    min-width: 120px;
}
.dropdown-content a {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}
.dropdown-content a:hover {
    background-color: #f0f0f0;
}
.user-dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content .view-profile:hover {
    background-color: #f0f0f0;
}
.dropdown-content .edit-profile:hover {
    background-color: #f0f0f0;
}


 
/*==Search-Banner========================*/
#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #ecf7ee;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
}
.bg-1{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.bg-2{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}
.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
}
.search-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: #202020;
}
.search-banner-text strong{
    color: #4eb060;
    font-size: 1.4rem;
    margin-top: 4px;
}
.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}
.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}
.search-box .search-btn{
    width:220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.search-box .search-btn:hover{
    background-color: #5ccf71;
    transition: all ease 0.3s;
}



/*==category================================*/
#category,
#popular-product,
#popular-bundle-pack,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading,
.product-heading,
.partner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.product-heading h3,
.partner-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span,
.product-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}



/*==establishments========================*/
#popular-product{
    margin: 80px auto;
}



/*==Container Styling========================*/
.box{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 30px;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}



/*==Grid Containers========================*/
.store-container,
.about {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    margin: 5px 0px;
}
.about {
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}
.about-img img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}
.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#40aa54; 
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text h2:hover {
    color: #ff5733;
    cursor: pointer;
    transition: all ease 0.3s;
}
.about-text p{
    font-size: 0.983rem;
    margin: 1rem 0 1rem;
}
.cart-btn{
    width:100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.cart-btn i{
    margin-right: 10px;
}
.cart-btn:hover{
    background-color: #4eb060;
    color: #ffffff;
    cursor: pointer;
    transition: all ease 0.3s;
}



/*==About Containers========================*/
#about {
    background-color: #ffffff;
    color: #40aa54;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
}
.about-heading h1 {
    font-size: 2.5rem;
    color: #40aa54;
}
.about-heading p {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
}
.about-content h2 {
    font-size: 1.8rem;
    color: #40aa54;
    margin-top: 20px;
}
.about-content p {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
}
.about-content a {
    color: #40aa54; 
    text-decoration: underline;
}



/*==Establishment========================*/
.establishment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
}
.establishment-name {
    color: purple;
}
#establishment-info {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    text-align: left;
}
#reviews-list {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 600px; 
}
.helpful-btn, .unhelpful-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.helpful-btn i, .unhelpful-btn i {
    font-size: 24px;
    transition: color 0.3s;
}
.helpful-btn i.far, .unhelpful-btn i.far {
    color: rgb(0, 0, 0);
}
.helpful-btn.clicked i.far {
    color: green;
}
.unhelpful-btn.clicked i.far {
    color: red;
}
.helpful-btn i:hover {
    color: green;
}
.unhelpful-btn i:hover {
    color: red;
}
.helpful-buttons {
    float: right;
}
.helpful-buttons button {
    margin-left: 5px;
}
.helpful-count, .unhelpful-count {
    margin-left: 5px;
    font-weight: bold;
}



/*==Reviews========================*/
#review-form-container {
    flex-basis: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
}
.review {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.review:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.review-reply-container {
    background-color: #f4f4f4;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    border-left: 4px solid #4eb060;
    font-size: 0.9em;
}
.review-reply p {
    margin: 5px 0;
    color: #555;
}
.reply-user {
    color: green;
}
.reply-user:hover {
    color: #a84eb0;
    transition: color 0.3s;
}
.review-user {
    color: green;
}
.review-user:hover {
    color: #a84eb0;
    transition: color 0.3s;
}
.review p {
    margin: 5px 0;
    color: #555;
}
.review p strong {
    color: #333;
}
.review p span {
    font-size: 0.9em;
    color: #777;
}
.review img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 150px;
    border-radius: 5px;
    margin: 10px 0;
    display: block;
}
.review-actions {
    text-align: right; 
}
.edit-review-link, .delete-review-link {
    color: green;
}
.edit-review-link:hover, .delete-review-link:hover {
    color: #a84eb0;
    transition: color 0.3s;
}
#review-form h3 {
    margin-bottom: 10px;
    font-size: 20px;
}
#review-form label {
    display: block;
    margin-top: 10px;
}
#review-form input[type="text"],
#review-form textarea,
#review-form select,
#review-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.reply-link {
    color: green;
}
.reply-link:hover {
    color: #a84eb0;
    transition: color 0.3s;
}
.reply-container {
    margin-top: 10px;
}
.reply-textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.comment-btn {
    cursor: pointer;
    color: black; 
    margin-top: 10px; 
    display: inline-block; 
}
.comment-btn:hover {
    color: darkblue; 
    text-decoration: none; 
}
.reply-btn, .cancel-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.reply-btn {
    background-color: #4eb060;
    color: #fff;
}
.cancel-btn {
    background-color: #dc3545;
    color: #fff;
}
.reply-btn:hover {
    background-color: #3b8e53;
    transition: color 0.3s;
}
.cancel-btn:hover {
    background-color: #c82333;
    transition: color 0.3s;
}





/*==Index========================*/
.establishment-details h2 {
    margin-top: 10px;
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}
.about {
    position: relative;
}
.about h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
    transition: color 0.3s;
}
.about h2 a:hover,
.review strong a:hover {
    color: #a84eb0;
    transition: color 0.3s;
}
.establishment-details p {
    font-size: 1em;
    color: #555;
    margin: 10px 0;
}
.establishment-header {
    grid-column: span 2;
    text-align: center;
}
.establishment-header img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.read-more {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}
.read-more:hover {
    color: #0056b3;
}
.review-user {
    color: green;
}



/*==Registration========================*/
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
#register-form input[type="text"],
#register-form input[type="password"],
#register-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
#register-form textarea {
    resize: vertical;
}
#confirm-password {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.restaurant-label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1em;
    color: #555;
    vertical-align: middle;
}
#restaurant {
    margin-left: 5px;
    vertical-align: middle;
}
#profile-picture {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
    font-size: 1em;
}
#register-form button, #login-form button, #review-form button {
    width: 100%;
    margin-top: 10px;
    padding: 12px; 
    background-color: #4eb060;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#register-form button:hover, #login-form button:hover, #review-form button  {
    background-color: #3b8e53;
}


/*==Log In========================*/
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
#login-form label {
    font-size: 1em;
    color: #555;
}
#login-form input[type="checkbox"] {
    margin-right: 5px;
}
.form-container p {
    margin-top: 20px; 
    font-size: 0.9em; 
    text-align: center;
}
.form-container a {
    color: #4eb060; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}
.form-container a:hover, .user-dropdown .fas.fa-user:hover {
    color: #3b8e53; 
    transition: color 0.3s ease; 
}



/*==Profile========================*/
.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    margin-bottom: 20px;
    text-align: center;
}
.profile-header img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.profile-details {
    text-align: center;
}
.profile-details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}
.profile-details p {
    font-size: 1em;
    color: #555;
    margin: 5px 200px;
}
#recent-activities {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activity {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.activity h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}
.activity p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}
#edit-profile {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#edit-profile h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
#edit-profile input[type="file"],
#edit-profile textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
#edit-profile textarea {
    resize: vertical;
}
#edit-profile button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background-color: #4eb060;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#edit-profile button:hover {
    background-color: #3b8e53;
}
#profile-picture {
    margin-bottom: 15px;
}
#description {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    appearance: none;
    background-color: #fff; 
    background-position: right 10px center; 
    background-size: 12px 12px; 
    color: #999;
}
#description option {
    color: #333;
}
#description option[disabled] {
    color: #999;
}
#description:invalid {
    color: #999;
}



/*==Footer============================*/
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-logo a span{
    color: #4eb060;
}


/*==Making-Responsive===================================*/
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1280px){
    #search-banner{
        width:1150px;
    }
}
@media(max-width:1200px){
    #search-banner{
        width:90%;
        height: 500px;
    }
    #popular-bundle-pack,
    #popular-product,
    #download-app{
        width: 90%;
    }
    #popular-bundle-pack{
        padding: 50px 30px 0px 30px;
    }
}
@media(max-width:1050px){
    .bg-1{
        width: 150px;
        height: 150px;
        top: -20px;
    }
    #search-banner{
        background-size: 700px;
    }
    #category,
    #partner{
        width: 90%;
    }
}
@media(max-width:965px){
    .navigation{
        justify-content: space-between;
        height: 65px;
        padding: 35px 25px;
    }
    .logo{
        font-size: 1.2rem;
    }
    .navigation .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgba(245,245,245);
    }
    .navigation .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        border: 1px solid rgba(248,247,247,0.5);
    }
    .menu-icon{
        display: block;
    }
    .navigation .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    .navigation .menu-icon .nav-icon{
        background-color: #141414cc;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: background 0.2s ease-out;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: #141414cc;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease-out 0.2s;
    }
    .navigation .menu-icon .nav-icon::before{
        top: 7px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -7px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    } 
    .navigation .menu-btn:checked ~ .menu{
        display: block;
    }   
 
    #search-banner{
        height: 400px;
        background-size: 500px;
    }
    .bg-2{
        width: 100px;
        height: 100px;
        top: -50px;
    }
    .category-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .category-box{
        margin: 10px;
    }
    .product-container{
        grid-template-columns: 1fr 1fr;
    }
    .client-box-container{
        grid-template-columns: 1fr 1fr;
    }
    .partner-heading{
        justify-content: center;
    }
    .logo-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-container img{
        margin: 10px;
        object-fit: cover;
    }
    #download-app{
        flex-direction: column;
        height: 100%;
        background-color: transparent;
        margin-top: 0px;
        width: 90%;
        max-width: 100%;
    }
    .app-img{
        height: 450px;
        width: 220px;
        object-fit: cover;
    }
    .download-app-text{
        max-width: 100%;
        background-color: #ecf7ee;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-links{
        text-align: center;
    }
}
@media(max-width:750px){
    #search-banner{
        height: 300px;
    }
    .search-banner-text{
        margin-left: 20px;
    }
    .search-banner-text h1{
        font-size: 2rem;
        line-height: 30px;
    }
    .bg-1{
        display: none;
    }
    .client-box-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:500px){
    #search-banner{
        height: 200px;
        background-size: 300px;
    }
    .search-banner-text{
        margin-left: 0px;
        max-width: 100%;
    }
    .search-banner-text h1{
        font-size: 1.3rem;
    }
    .search-box{
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding-left: 10px;
    }
    .search-box i{
        font-size: 1rem;
    }
    .search-box .search-btn{
        height: 30px;
    }
    .category-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .category-box{
        width: 100%;
        margin: 0px;
    }
    .product-container{
        grid-template-columns: 1fr;
    }
    #popular-bundle-pack{
        padding: 30px 20px 0px 20px;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer-links{
        margin-top: 10px;
    }
}
@media(max-width:400px){
    .category-heading h2,
    .product-heading h3,
    .client-heading h3,
    .partner-heading h3{
        font-size: 1.2rem;
    }
}
@media(max-width:350px){
    .download-btns{
        flex-direction: column;
    }
    .download-btns a{
        margin: 4px 0px;
        width: 140px;
    }
    .download-btns a img{
        width: 100%;
        object-fit: cover;
    }
    .right-nav{
        grid-gap: 5px;
    }
}


